# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/venv/
/misc.xml
/modules.xml
/vcs.xml
/.idea
/programs.iml
/inspectionProfiles/